


div#main {
    position:relative;
    margin-left:40px;
    margin-right:20px;
    top: 20px;
    width: 400px;
    background-color: #CCCCCC;
}

div#volume {
    float:right;
    margin:20px;
}

.imgbutton1, .imgbutton2 {
    cursor: pointer;
}

.imgbutton1 {
	margin-left: 20px;
}

.buttonname {
    font-size: 160%;
}